# 使用 npm 官方默认 registry（npmjs 官方源）
registry=https://registry.npmjs.org/

# 可选：使用淘宝源
# registry=https://registry.npmmirror.com

# 可选：使用华为源
# registry=https://mirrors.huaweicloud.com/repository/npm/

# 可选：使用腾讯源
# registry=https://mirrors.cloud.tencent.com/npm/

# 可选：使用阿里云源
# registry=https://registry.aliyuncs.com/

# 可选：使用京东云源
# registry=https://registry.jdcloud.com/